.main-section {
    background-image: url("../background_image/minecraft_pokemon_stadium.jpg");
    background-attachment: fixed;
    background-size: cover; }
  
  header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgb(173, 65, 74);
    padding: 10px;
    border: solid black 10px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px; }
  
  .logo {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center; }
  
  .title {
    display: flex;
    flex-grow: 5;
    flex-direction: column;
    justify-content: center;
    text-align: center; }
  /* -----------------------------trainer image manipulation------------ */
  .ivan_image {
    margin-top: 5px;
  }

  .coak_image {
    margin-top: 5px;
  }
  /* ---------------------------Gym Trainer Stats manipulation---------- */
  .trainer_stats  {
    text-align: center;
    background-color: rgb(187, 60, 74); 
    padding: 15px;
    border-radius: 20px;
    
}
  
  /* added curves to pokemon cards  || card manipulations*/
  .card {
    border-radius: 25px;
    background-color: #59585b; }
  
  /* .card-image{
      background-color: rgb(89, 88, 91);
  } */
  .card-title {
    font-family: 'Press Start 2P', cursive;
    text-align: center; }
  
  /* Changing the font inside the card */
  .card-reveal {
    font-family: 'Press Start 2P', cursive; }
  
  /* card manipulations end here */
  /* fixed the bottom margin problem at second section */
  .row {
    margin-bottom: 0; }
  
  /*  */
  .section-1{
    margin-bottom: 10px;
  }
  

  /* footer */
  .footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #a09d9f;
    padding: 30px;
    border: solid black 10px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px; }
  
  .copyright-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    font-family: 'Press Start 2P', cursive;
    font-size: 15px; }
  
  /*  */
  .coke_title {
    color: white;
    font-family: 'Press Start 2P', cursive;
    font-size: 50px;
    text-shadow: 3px 3px black; }
  
  .coke_description {
    color: white;
    font-family: 'Press Start 2P', cursive;
    font-size: 23px;
    text-shadow: 3px 3px black;
    /* border: solid black 10px; */ }
  
  .trainer_coak {
    margin-top: 200px; }
  
  /* -----------------------------gif manipulation -----------------------------*/
  /*---------- professor coak's pokemons */
  .ivysaur_gif {
    width: 320px;
    height: 320px;
    margin-left: 110px;
    margin-bottom: 130px; }
  
  .charizard_gif {
    width: 320px;
    height: 320px;
    margin-left: 110px;
    margin-top: 30px;
    margin-bottom: 100px; }
  
  .blastoise_gif {
    width: 320px;
    height: 320px;
    margin-left: 110px;
    margin-bottom: 130px; }
    /*----------- Ivan's pokemons --------*/
  .mew_gif {
    width: 320px;
    height: 320px;
    margin-left: 110px;
    margin-top: 50px;
    margin-bottom: 80px; }
  
  .mewtwo_gif {
    width: 320px;
    height: 320px;
    margin-left: 150px;
    margin-top: 50px;
    margin-bottom: 80px; }
  
  .rayquaza_gif {
    width: 320px;
    height: 320px;
    margin-left: 130px;
    margin-top: 50px;
    margin-bottom: 80px; }
  
  /*# sourceMappingURL=main.css.map */
  